<ul class="tag_list">
  <li id="post_archives"><a href="">Archive</a><img src="img/png/archive18_white.png" alt="" width="20"></li>
  <li><a href="">Challenges</a><img src="img/png/double126.png" alt="" width="20"></li>
  <li><a href="">Mindfulness</a><img src="img/png/brain2.png" alt="" width="20"></li>
  <li><a href="">Generosity</a><img src="img/png/handshake1.png" alt="" width="20"></li>
  <li class="last"><a href="">Blank</a><img src="img/png/goofy.png" alt="" width="20"></li>
</ul>