<li> <%=f.radio_button :tag,"moments"%><%= f.label :tag, 'Moments', :value => 'moments' %></li>
<li> <%=f.radio_button :tag,"optimism"%><%= f.label :tag, 'Optimism', :value => 'optimism' %></li>
<li><%=f.radio_button :tag,"consolation"%><%= f.label :tag, 'Consolation', :value => 'consolation' %></li>
<li> <%=f.radio_button :tag,"lessons"%><%= f.label :tag, 'Lessons', :value => 'lessons' %></li>
<li><%=f.radio_button :tag,"actualities"%><%= f.label :tag, 'Actualities', :value => 'actualities' %></li>
<li> <%=f.radio_button :tag,"ambitions"%><%= f.label :tag, 'Ambitions', :value => 'ambitions' %></li>
<li> <%=f.radio_button :tag,"inspiration"%><%= f.label :tag, 'Inspiration', :value => 'inspiration' %></li>